html,
body {
  height: 100%;
}

body {
  color: $accent;
  font-size: 15px;
  line-height: 1;
  @extend %rubik-500;
  display: flex;
  flex-direction: column;
  background-color: $backbody;
  font-weight: normal;
}

.main {
  flex-grow: 1;
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  color: $blak;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;

  &--second {
    max-width: 1200px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: transparent;
  transition: all .3s ease;
}
