@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

// Не понятно со шрифтами,подключен тот что на Фотошопе,но внешний вид вообще не такой.И не поставил вертикальную линию в кнопках те что в конце,не понимаю как

.header {
  padding: 51px 0 54px;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__inner {
    display: flex;
  }

  &__logo {
    padding: 25px 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__name {
    color: $accent;
  }

  &__title {
    font-size: 36px;
    line-height: 1.6;
    margin-left: 14px;
  }

  &__menu {
    display: flex;
  }

  &__list:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    color: $accent;
  }

  &__user {
    display: flex;
    padding: 84px 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__blog {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;

    &--sech {
      background-color: #edf1f4;
    }

    &--menu {
      background-color: #a3bbc8;
    }
  }

  &__blog:not(:last-child) {
    margin-right: 40px;
  }

  &__img {
    padding: 10px 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 15px;
    top: 15px;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    color: $title;
    background-color: $backbody;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    top: 8px;
    right: 8px
  }
}













@import 'media';